@if (Data != null)
{
<div class="card" style="background-color:whitesmoke">
    <div class="card-body">
        <h5 class="card-title">Selected Data</h5>

        <dl class="row">
            <dt class="col-sm-2">Series:</dt>
            <dd class="col-sm-10">@Data.Series.Name</dd>

            <dt class="col-sm-2">X-Value:</dt>
            <dd class="col-sm-10">
                @Data.DataPoint.X
            </dd>
        </dl>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>Customer</th>
                    <th>Order Date</th>
                    <th>Country</th>
                    <th>Type</th>
                    <th>Gross Value</th>
                    <th>Net Value</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Data.DataPoint.Items)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.CustomerName</td>
                        <td>@order.OrderDate.ToString("d")</td>
                        <td>@order.Country</td>
                        <td>@order.OrderType</td>
                        <td>@order.GrossValue</td>
                        <td>@order.NetValue</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
}

@code {

    [Parameter] public SelectedData<Order> Data { get; set; }

}
