@page "/basic-charts"

<h1>Basic Charts</h1>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div>
            Pie/Donut
            <select class="form-control" @bind="pieChartType">
                <option>Pie</option>
                <option>Donut</option>
            </select>
        </div>

        <ApexChart TItem="Order" Title="Orders Net Value By Type"
                   OnDataPointSelection="DataPointSelected"
                   ChartType="@pieChartType">
            <ApexSeries TItem="Order"
                        Items="Orders"
                        Name="Order Value"
                        XValue="@(e => e.OrderType)"
                        YAggregate="@(e => e.Sum(e => e.NetValue))"
                        ShowDataLabels="true" />
        </ApexChart>


    </div>



    <div class="col-md-12 col-lg-6">
        <div>
            X-Y Charts
            <select class="form-control" @bind="xyChartType">
                <option>Line</option>
                <option>Bar</option>
                <option>Area</option>
                <option>Radar</option>
                <option>Scatter</option>
                <option>Histogram</option>
            </select>


        </div>
        <ApexChart TItem="Order"
                   Title="Order Net Value"
                   ChartType="@xyChartType"
                   OnDataPointSelection="DataPointSelected">

            <ApexSeries TItem="Order"
                        Items="Orders"
                        Name="Gross Value"
                        XValue="@(e => e.Country)"
                        YAggregate="@(e => e.Sum(e => e.GrossValue))"
                        OrderByDescending="e=>e.Y" />

            <ApexSeries TItem="Order"
                        Items="Orders"
                        Name="Net Value"
                        XValue="@(e => e.Country)"
                        YAggregate="@(e => e.Sum(e => e.NetValue))"
                        OrderByDescending="e=>e.Y" />

        </ApexChart>
    </div>
</div>


@if (selectedData != null)
{
    <div class="card" style="background-color:whitesmoke">
        <div class="card-body">
            <h5 class="card-title">Selected Data</h5>

            <dl class="row">
                <dt class="col-sm-2">Series:</dt>
                <dd class="col-sm-10">@selectedData.Series.Name</dd>

                <dt class="col-sm-2">X-Value:</dt>
                <dd class="col-sm-10">
                    @selectedData.DataPoint.X
                </dd>
            </dl>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>OrderId</th>
                        <th>Customer</th>
                        <th>Order Date</th>
                        <th>Country</th>
                        <th>Type</th>
                        <th>Gross Value</th>
                        <th>Net Value</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var order in selectedData.DataPoint.Items)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.CustomerName</td>
                            <td>@order.OrderDate</td>
                            <td>@order.Country</td>
                            <td>@order.OrderType</td>
                            <td>@order.GrossValue</td>
                            <td>@order.NetValue</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
}



@code {
    public ApexCharts.ChartType pieChartType { get; set; } = ChartType.Pie;
    public ApexCharts.ChartType xyChartType { get; set; } = ChartType.Line;

    private SelectedData<Order> selectedData;

    private List<Order> Orders { get; set; }

    protected override void OnInitialized()
    {
        Orders = SampleData.GetOrders();
    }

    private void DataPointSelected(SelectedData<Order> selected)
    {
        selectedData = selected;
    }
}