@page "/chartservice"

<h3>Chart Service</h3>

<Button OnClick="LoadJavascript">Load Javascript</Button>
<Button OnClick="SetGlobalOptions">Set Global Options</Button>
<Button OnClick="ResetGlobalOptions">Reset Global Options</Button>




@if (!showCharts)
{
   
    <Button OnClick="@(_=> showCharts =! showCharts)">Show charts</Button>
}
else
{


    <Button OnClick="ToogleTheme">Toogle Theme</Button>
    <Button OnClick="ReRenderCharts">ReRender charts</Button>

    <ApexChart TItem="Order"
                Height="200"
                Debug>

        <ApexPointSeries TItem="Order"
                         Items="SampleData.GetOrders()"
                         Name="Gross Value"
                         XValue="@(e => e.Country)"
                         YAggregate="@(e => e.Sum(e => e.GrossValue))"
                         OrderByDescending="e=>e.Y"
                         SeriesType="SeriesType.Bar" />


    </ApexChart>

    <ApexChart TItem="Order"
                Height="200"
                Debug>

        <ApexPointSeries TItem="Order"
                         Items="SampleData.GetOrders()"
                         Name="Gross Value"
                         XValue="@(e => e.Country)"
                         YAggregate="@(e => e.Sum(e => e.GrossValue))"
                         OrderByDescending="e=>e.Y"
                         SeriesType="SeriesType.Line" />


    </ApexChart>
}