<Navbar Darkmode Direction=NavbarDirection.Vertical>

    <a href="https://github.com/apexcharts/Blazor-ApexCharts" target=_blank class="navbar-brand navbar-brand-autodark">
        <h3 class="">
            Blazor ApexCharts
            <Icon Elements=@Icons.Brand_github BackgroundColor=TablerColor.White />
        </h3>
    </a>
    <NavbarMenu>
        <NavbarMenuItem Href="" Text="Chart Gallery">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Apps" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Text="Chart Types">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Chart_infographic" />
            </MenuItemIcon>

            <SubMenu>

                <NavbarMenuItem Href="area-charts" Text="Area">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_area" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="bar-charts" Text="Bar">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_bar" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="boxplot-charts" Text="BoxPlot">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_candle" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="bubble-charts" Text="Bubble">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_scatter" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="candlestick-charts" Text="Candlestick">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_candle" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="donut-charts" Text="Donut">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_donut_3" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="heatmap-charts" Text="Heatmap">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Grid_dots" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="line-charts" Text="Line">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_line" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="pie-charts" Text="Pie">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_pie_3" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="radialbar-charts" Text="Radial bars">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_donut_4" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="rangebar-charts" Text="Range bar">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_arrows_vertical" />
                    </MenuItemIcon>
                </NavbarMenuItem>

                <NavbarMenuItem Href="scatter-charts" Text="Scatter">
                    <MenuItemIcon>
                        <Icon class="icon" Elements="@Icons.Chart_scatter" />
                    </MenuItemIcon>
                </NavbarMenuItem>
            </SubMenu>
        </NavbarMenuItem>

        <NavbarMenuItem Href="chart-events" Text="Events">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Bolt" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Text="Features">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Ad" />
            </MenuItemIcon>

            <SubMenu>
                <NavbarMenuItem Text="Annotations" Href="features/annotations" />
                <NavbarMenuItem Text="Formatters" Href="features/formatters" />
            </SubMenu>

        </NavbarMenuItem>

        <NavbarMenuItem Text="Methods">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Affiliate" />
            </MenuItemIcon>
            <SubMenu>
                <NavbarMenuItem Text="Render" Href="methods/render" />
                <NavbarMenuItem Text="Update Series" Href="methods/update-series" />
                <NavbarMenuItem Text="Show/Hide Series" Href="methods/show-hide-series" />
                <NavbarMenuItem Text="Annotations" Href="methods/annotations" />

            </SubMenu>
        </NavbarMenuItem>



        <NavbarMenuItem Href="chart-themes" Text="Themes">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Color_swatch" />
            </MenuItemIcon>
        </NavbarMenuItem>
    </NavbarMenu>
</Navbar>

